{{ if ne .chezmoi.os "darwin" }}
darwin-install-packages.sh
home/dot_config/borders/**
home/dot_config/sketchybar/**
home/dot_config/starship.toml
home/dot_aerospace.toml
{{ end }}
{{ if ne .chezmoi.os "linux" }}
linux-install-packages.sh
home/dot_config/hypr/**
home/dot_config/waybar/**
home/dot_config/wlogout/**
home/dot_config/wofi/**
home/dot_config/rofi/**
{{ end }}