{{ if ne .chezmoi.os "darwin" }}
darwin-install-packages.sh
.config/borders/**
.config/sketchybar/**
.config/starship.toml
.aerospace.toml
{{ end }}
{{ if ne .chezmoi.os "linux" }}
linux-install-packages.sh
.config/hypr/**
.config/waybar/**
.config/wlogout/**
.config/wofi/**
.config/rofi/**
{{ end }}
