{{ if ne .chezmoi.os "darwin" }}
darwin-install-packages.sh
.config/borders/**
.config/sketchybar/**
.config/starship.toml
.aerospace.toml
{{ end }}
{{ if ne .chezmoi.os "linux" }}
.config/fastfetch/**
.config/hypr/**
.config/waybar/**
.config/wlogout/**
.config/wofi/**
.config/rofi/**
{{ end }}
{{ if and (eq .chezmoi.os "linux") (ne .chezmoi.osRelease.id "fedora") }}
fedora-install-packages.sh
{{ end }}
{{ if and (eq .chezmoi.os "linux") (ne .chezmoi.osRelease.id "arch")}}
linux-install-packages.sh
{{ end }}
