{{ if eq .chezmoi.os "linux" -}}
#!/bin/bash

echo "installing pacman packages"
sudo pacman -S --needed {{ join .packages.linux.arch.pacman " " }}

echo "installing paru packages"
paru -S --needed {{ join .packages.linux.arch.paru " " }}

{{ end -}}
