{{ if eq .chezmoi.osRelease.idLike "arch" -}}
#!/bin/bash

echo "installing pacman packages"
sudo pacman -S --needed{{ range .packages.linux.arch.pacman }} {{ . }}{{ end }}

echo "installing yay packages"
yay -S --needed{{ range .packages.linux.arch.yay }} {{ . }}{{ end }}
{{ end -}}
