layout {
    default_tab_template {
        pane size=1 borderless=true {
            plugin location="zellij:tab-bar"
        }
        children
        pane size=2 borderless=true {
            plugin location="zellij:status-bar"
        }
    }
    tab name="Home" cwd="~" {
        pane command="clippy"
    }
    tab name="homelab-compose" cwd="~/src/personal/homelab-compose" {
        pane split_direction="vertical" {
            pane
            pane command="lazygit" size="35%"
        }
    }
    tab name="hadrian-platform" cwd="~/src/work/hadrian-platform" {
        pane split_direction="vertical" {
            pane
            pane command="lazygit" size="35%"
        }
    }
    tab name="hacker-dashboard-ts" cwd="~/src/work/hacker-dashboard-ts" {
        pane split_direction="vertical" {
            pane
            pane command="lazygit" size="35%"
        }
    }
}
